<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/layout.xhtml">,

    <ui:define name="title">#{text['application.error']}</ui:define>

    <ui:define name="content">
        <p class="lead">#{text['application.apology']}</p>
    </ui:define>

</ui:composition>

</html>
