<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:ui="http://java.sun.com/jsf/facelets"
			 xmlns:h="http://java.sun.com/jsf/html"
			 xmlns:f="http://java.sun.com/jsf/core"
			 template="#{empty template ? '/WEB-INF/af/profile/html/switcher.xhtml' : template}">

	<ui:param name="id" value="#{prefix}$field$"/>
	<ui:param name="label" value="#{text['$className$.$field$']}"/>
	<ui:param name="value" value="#{$ClassName$.$field$}"/>
	<ui:param name="rendered" value="#{empty render$Field$ ? 'true' : render$Field$}"/>
	<ui:param name="required" value="#{empty required$Field$ ? $required$ : required$Field$}"/>
	<ui:param name="minValue" value="$min$"/>
	<ui:param name="maxValue" value="$max$"/>

	<ui:define name="input">
		<h:inputText
				rendered="#{rendered}"
				required="#{required}"
				id="#{id}"
				title="#{label}"
				value="#{value}">
			<f:convertNumber/>
			<f:validateLongRange minimum="#{empty minValue ? '0' : minValue}" maximum="#{empty maxValue ? '10000000000' : maxValue}"/>
		</h:inputText>
	</ui:define>

	<ui:define name="output">
		<h:outputText value="#{value}"/>
	</ui:define>

</ui:decorate>
